<h1>Listing users</h1>

<% if user_signed_in? %>
Hello, <%= current_user.name%>!
<% end %>

    <% @users.each do |user| %>
        <h2> <%= link_to user.name, user %> </h2>
    <% end %>
<br>
<%= link_to 'New User', new_user_path %>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path%>
<% end %>
